<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Personal Assistant
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <script src="{{ url_for('static', filename = 'script.js')}}" defer></script>
</head>

<body>
    <h1 class="main-heading">Welcome</h1>
    <div class="container">
        <h2>Ask Anything</h2>
        <form id="askform">
            <input type="text" name="question" placeholder="Ask anything..." required>
            <button type="submit">Ask</button>
        </form>
        <p id="ask-loading" style="display: none">Processing...</p>
        <p id="answer"></p>


        <h2>Summarize Email</h2>
        <form id="emailform">
            <textarea type="text" name="email" placeholder="Place your email here..." required></textarea>
            <button type="submit">Summarize</button>
        </form>
        <p id="summary-loading" style="display: none">Processing...</p>
        <p id="summary"></p>
    </div>
</body>

</html>