<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Personal Assistant
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">

<body>
    <h1 class="main-heading">Welcome</h1>
    <div class="container">
        <h2>Ask Anything</h2>
        <form id="askform">
            <input type="text" placeholder="Ask anythin..." required>
            <button> type = "submit">Ask</button>
        </form>
    </div>
</body>

</html>